# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/ckl-car-rental/
!web/app/plugins/woo-xendit-virtual-accounts/
web/app/plugins/*/node_modules/
web/app/mu-plugins/*/
web/app/themes/*/node_modules/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
